.whole{
    display: flex;
    flex-wrap: wrap;

}
.mission{
    flex :3 ;
    padding: 10px;
    margin: 10px ;
    /* width : 750px; */
}
.mission1,.mission2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


.mission1 div, .mission2 div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    background-color: lightgray;
   width :300px;
   
}
.mission1,.mission2{
    padding: 10px;
    margin: 10px auto;
}

.murqi{
    flex :1
   


}